<header class="jumbotron hero-spacer" align="center"><h1><%= @detention_center.name %></h1></header>

<div class="col-1-2 col-sm-6 hero-feature">
<table class="table table-hover">
	<tbody>
		<tr >
			<td colspan="2"><h3><%= @detention_center.address_1 %>, <%=@detention_center.city.titleize%>, <%= @detention_center.state %></h3></td>
<!-- 			<td><h3><%= @detention_center.county.titleize %> County</h3></td>
 -->		</tr>
		<tr>
			<td>Detention Standards:</td>
			<td><%= @detention_center.det_standard %></td>
		</tr>
		<tr>
			<td>Contract Type:</td>
			<td><%= @detention_center.type_contract %></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><h2><u>Operator</u></h2></td>
		</tr>
		<tr>
			<td colspan="2"><h1><%= @detention_center.operator.name %></h1></td>
		</tr>
	</tbody>
</table>
</div>

<div class="col-1-2 col-sm-6 hero-feature"><h3><%= @detention_center.deaths[0].first_name %></h3></div>
